@define-color background   #0B0D0F;
@define-color foreground   #F8F8F2;
@define-color cyan         #80FFEA;
@define-color green        #8AFF80;
@define-color orange       #FFCA80;
@define-color pink         #FF80BF;
@define-color purple       #9580FF;
@define-color red          #FF9580;
@define-color yellow       #FFFF80;
@define-color background   #0B0D0F;
@define-color comment      #708CA9;
@define-color selection    #414D58;

* {
  border: none;
  font-family: Iosevka Nerd Font, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  border-bottom: 4px solid @background;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#custom-fans,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  background-color: @foreground;
  padding: 0 10px;
  margin: 5px;
  /* border: 4px solid rgba(0,0,0,0); */
  /* border-bottom: none; */
  border-radius: 90px;
  background-clip: padding-box;

}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: @selection;
  /* border-bottom: 4px solid @color3; */
  border-radius: 20px;
}


#workspaces button:hover {
  /* background-color: @color8; */
  /* border: 4px solid @color8; */
}



#workspaces button.focused  {
  color: @selection;
  border-radius: 0;
  border-bottom: 4px solid @selection;
}

#workspaces button.urgent {
  color: @red;
}

/* #cpu {
  color: #61afef;
}

#memory {
  color: #c678dd;
}

#temperature {
  color: #d19a66;
} */

/* #temperature.critical {
  background-color: #e06c75;
  color: #1e222a;
} */

/*#custom-media {*/
/*  background-color: @color2;*/
/*  color: @background;*/
/*}*/
/*
#custom-fans {
  color: #98c379;
} */

#clock {
  color: @foreground;
  background-color: @selection;
}

/* #idle_inhibitor {
  color: #abb2bf;
} */

/* #idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e222a;
} */

/*#language {*/
/*  background-color: @color6;*/
/*  color: @background;*/
/*}*/

/*#pulseaudio {*/
/*  color: @background;*/
/*  background-color: @color5;*/
/*}*/

/*#pulseaudio.muted {*/
/*  background-color: @color2;*/
/*  color: @background;*/
/*}*/

#network {
  background-color: @foreground;
  color: @background;
}

#network.disconnected {
  background-color: @red;
  color: @background;
}
#tray {
  background-color: @selection;
}
