* {
    outline-style: none;
    border: none;
}

#window {
    background-color: #0B0D0F;
    color: #F8F8F2;
    border-radius: 10px;
}

#input {
    background-color: #0B0D0F;
    color: #F8F8F2;

}
#input > image.left {
    -gtk-icon-transform:scaleX(0);
}
#outer-box {
    margin: 5px;
    padding: 10px;
}
#img {
    margin: 5px;
}
#entry:selected {
    background-color: #414D58;
    border-style: solid;
    border-radius: 3px;
}
#input:focus, #input:active {
    outline-color: #414D58;
    outline-style: none;
    border: #414D58;
}