 /* Copyright (C) 2020-2021 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
	background-alt:		#262A32;
	selected:			@active-background;
	highlight:			@selected-urgent-background;
	urgent:				@selected-active-background;
	on:					@active-background;
	off:				@active-background;
}
